:root {
  --accent: 128 203 196;
  --text: 238 238 238;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  max-width: 650px;
  margin: 40px auto;
  text-align: center;

  background-color: #212121;
  color: RGB(var(--text));

  a {
    color: RGB(var(--text));
  }

  em {
    color: RGB(var(--accent));
    font-style: normal;
  }
}
